@model IPageViewModel

<!DOCTYPE html>
<html>
    <head>    
        <meta name="viewport" content="width=device-width" />    
        <title>Chloe: ASP.NET MVC</title>
        <link href="~/wwwroot/css/site.css" rel="stylesheet" />
    </head>
    <body>
        <div class="main-content">
            @Html.Partial(Model.GetComponentByName("Header").ViewLocation, Model.GetComponentByName("Header"))
            @RenderBody()
            @Html.Partial(Model.GetComponentByName("Footer").ViewLocation, Model.GetComponentByName("Footer"))
        </div>

        <link type="text/javascript" href="app.js" /> 
    </body>
</html>